@import "~@nerds-with-charisma/nerds-style-sass/main.scss";

.row {
  width: 100%;
}

#tabBar {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #f3f5f6;

  #generate {
    transition: 0.2s linear all;
    background: rgb(82,29,255);
    background: linear-gradient(142deg, rgba(82,29,255,1) 0%, rgba(242,33,223,1) 100%);

    &:hover {
      color: #fff !important;
      background: linear-gradient(142deg, rgba(82,29,255,1) 0%, rgba(242,33,223,1) 100%) !important;
      opacity: 0.7;
    }
  }

  button:hover {
    color: #fff;
    background: #fff !important;
    color: #777;
  }

  .active {
    color: #444;
    position: relative;

    &:hover {
      background: #fff !important;
      opacity: 0.6;
      color: #000;
    }

    &:after {
      position: absolute;
      content: '';
      height: 2px;
      bottom: -13px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 50%;
      background: linear-gradient(142deg, rgba(242,33,223,1) 0%, rgba(82,29,255,1) 100%) !important;

      /* optional animation */
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition:.5s;
    }
  }
}

textarea {
  width: 100% !important;
}

#hero {
  background: url(https://nerdswithcharisma.com/static/6d2103ee47e61e92d68e165eb9de330a/97132/bg--hero.webp) 50% fixed no-repeat #9012FE;
}

.gradient {
  background: linear-gradient(142deg, rgba(242,33,223,1) 0%, rgba(82,29,255,1) 100%) !important;
}